@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,900&subset=latin-ext');

$opacity: 0;
$lines: 16; // no of <li> elements, has to be an even number. Still learning how sass works, I'm getting a warning when an odd number is used.
$delayandduration: 2; // use this number to divide both animation duration for <ul> and animation delay for <li>. Controls the speed of the animation. Greater = faster.

* {
  box-sizing: border-box;
  outline-color: black;
}

body {
  width: auto;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;

  .page-container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,f0f0f0+50,ffffff+50,ffffff+100 */
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(left, #f0f0f0 0%, #f0f0f0 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f0f0f0 0%, #f0f0f0 50%, #ffffff 50%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 50%, #ffffff 50%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    .content-container {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,f0f0f0+50,ffffff+50,ffffff+100 */
      background: #f0f0f0; /* Old browsers */
      background: -moz-linear-gradient(right, #f0f0f0 0%, #f0f0f0 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(right, #f0f0f0 0%, #f0f0f0 50%, #ffffff 50%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, #f0f0f0 0%, #f0f0f0 50%, #ffffff 50%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
      width: 90vw;
      height: 70vh;
      background-color: tomato;
      display: flex;
      justify-content: center;
      align-items: center;
      //box-shadow: 1px 1px 10px darkgray;
      z-index: 1;

      .margin-container {
        width: 99%;
        height: 98%;
        //border: 1px dotted black;
        display: flex;
        z-index: 1;

        .col1-2 {
          width: 100%;
          //border: 1px dotted tomato;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .col1 {
          flex-direction: column;

          .signature {
            display: flex;
            position: relative;
            margin: 0;
            padding: 0;
            align-self: end;

            p {
              font-size: 10px;
              margin: 0;
              padding: 0;
            }
          }

          .title {
            //border: 1px dotted green;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            //border: 1px dotted tomato;

            h1 {
              font-size: 7vw;
              //border: 1px dotted green;
              margin: 120px 0 0 0;
              font-family: 'Nunito Sans', sans-serif;
              font-weight: 700;

              span {
                color: tomato;
              }
              sup {
                font-size: 1vw;
                font-weight: 400;
              }

            }
            h2 {
              //border: 1px dotted green;
              font-size: 2vw;
              margin-top: 0;
              color: #404040;
              font-weight: 400;
              padding-bottom: 10%;
              letter-spacing: 1px;

              span {
                color: #6a6a6a;
              }
            }
            button {
              width: 180px;
              height: 50px;
              padding: 5px 0;
              margin-bottom: 50px;
              background-color: tomato;
              //border: 1px solid red;
              display: flex;
              justify-content: space-between;
              font-size: 10px;
              cursor: pointer;
              letter-spacing: 2px;

              &:hover {
                background-color: black;
                //border: 1px solid black;
                box-shadow: 2px 5px 6px #c0c0c0;

                :last-child {
                  color: tomato;
                  transition: 500ms;

                }
              }

              :first-child {
                margin-left: 10px;
                color: white;
              }

              :last-child {
                margin-right: 10px;
                color: white;
                font-size: 10px;

              }
            }

            .fav-icons {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 30px;
              height: 30px;
              width: 160px;
              font-size: 1em;
              //border: 1px dotted purple;

              .icon-list {
                display: flex;
                margin: 0 5px;
                //border: 1px dotted green;
                width: 34px;
                height: 34px;

              }

              .fb-icon {
                background: url("https://cdn.tutsplus.com/net/uploads/2013/05/32pixel-icons-2.png") no-repeat;
                background-position: -225px -128px;
                border-radius: 50%;

                &:hover {
                  box-shadow: 2px 2px 10px grey;
                }
              }

              .in-icon {
                background: url("https://cdn.tutsplus.com/net/uploads/2013/05/32pixel-icons-2.png") no-repeat;
                background-position: -397px -128px;
                border-radius: 50%;

                &:hover {
                  box-shadow: 2px 2px 10px grey;
                  transition: 100ms;
                }
              }

              .git-icon {
                background: url("https://cdn.tutsplus.com/net/uploads/2013/05/32pixel-icons-2.png") no-repeat;
                background-position: -455px -128px;
                border-radius: 50%;

                &:hover {
                  box-shadow: 2px 2px 10px grey;
                }
              }
            }

          }
        }
        .col2 {
          display: flex;
          //border: 1px dotted blue;

          .menu {
            display: flex;
            align-items: start;
            flex-direction: row;
            //border: 1px dotted tomato;
            width: 100%;
            height: 100%;

            .menu-col2 {
              display: flex;
              //border: 1px dotted green;
              width: 100%;
              height: 100%;

              .list-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                width: 100%;
                height: 97%;
                //border: 1px dotted red;

                .loader {
                  max-width: 20rem;
                  width: 100%;
                  height: auto;
                  stroke-linecap: round;
                }

                circle {
                  fill: none;
                  stroke-width: 3.5;
                  animation-name: preloader;
                  animation-duration: 3s;
                  animation-iteration-count: infinite;
                  animation-timing-function: ease-in-out;
                  transform-origin: 170px 170px;
                  will-change: transform;

                  &:nth-of-type(1) {
                    stroke-dasharray: 550;
                  }

                  &:nth-of-type(2) {
                    stroke-dasharray: 500;
                  }

                  &:nth-of-type(3) {
                    stroke-dasharray: 450;
                  }

                  &:nth-of-type(4) {
                    stroke-dasharray: 300;
                  }

                  @for $i from 1 through 4 {
                    &:nth-of-type(#{$i}) {
                      animation-delay: -#{$i * 0.15}s;
                    }
                  }
                }

                @keyframes preloader {
                  50% {
                    transform: rotate(360deg);
                  }
                }
              }
            }
          }

          .menu-col1 {
            //border: 1px dotted green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            height: 100%;

            a {
              text-decoration: none;
            }

            button {
              background: #f0f0f0; /* Old browsers */
              background: -moz-linear-gradient(right, #f0f0f0 0%, #f0f0f0 30%, #ffffff 80%, #ffffff 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(right, #f0f0f0 0%, #f0f0f0 30%, #ffffff 80%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to left, #f0f0f0 0%, #f0f0f0 5%, #ffffff 80%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
              text-align: center;
              margin: 30px 0;
              width: 12vw;
              height: 50px;
              cursor: pointer;
              transition: all 0.5s;
              border: none;
              letter-spacing: 2px;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background: #f0f0f0; /* Old browsers */
                background: -moz-linear-gradient(left, #f0f0f0 0%, #f0f0f0 30%, #ffffff 80%, #ffffff 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #f0f0f0 0%, #f0f0f0 30%, #ffffff 80%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 30%, #ffffff 80%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
                border-right: 2px solid tomato;
                border-left: 2px solid tomato;
                transition: none;
              }

              &:hover span {
                padding-right: 100px;
              }

              &:hover span:after {
                opacity: 1;
                right: 0;
              }

              span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

                &:after {
                  content: '->';
                  position: absolute;
                  opacity: 0;
                  top: 0;
                  right: -20px;
                  transition: 0.5s;
                }

              }

            }

          }

        }
        .about {
          background-color: #404040;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          //border: 1px dotted tomato;
          width: 100%;
          height: 100%;

          .title-about {
            p {
              color: #fff;
              font-family: 'Nunito Sans', sans-serif;
              font-size: 1em;
              font-weight: 700;
              margin: 0;

              span {
                display: inline-block;
                position: relative;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-font-smoothing: antialiased;

                &::before,
                &::after {
                  display: none;
                  position: absolute;
                  top: 0;
                  left: -1px;
                  -webkit-transform-origin: left top;
                  transform-origin: left top;
                  -webkit-transition: all ease-out 0.3s;
                  transition: all ease-out 0.3s;
                  content: attr(data-text);
                }

                &::before {
                  z-index: 1;
                  color: rgba(0,0,0,0.2);
                  -webkit-transform: scale(1.1, 1) skew(0deg, 30deg);
                  transform: scale(1.1, 1) skew(0deg, 30deg);
                }

                &::after {
                  z-index: 2;
                  color: #404040;
                  text-shadow: -1px 0 1px darkgray, 1px 0 1px rgba(0,0,0,0.8);
                  -webkit-transform: rotateY(-60deg);
                  transform: rotateY(-60deg);
                }

                :hover::before {
                  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
                  transform: scale(1.1, 1) skew(0deg, 5deg);
                }

                &:hover::after {
                  -webkit-transform: rotateY(-10deg);
                  transform: rotateY(-10deg);
                }

                & + span {
                  margin-left: 0.22em;
                }
              }
            }
            @media (min-width: 20em) {
              p {
                font-size: 1.5em;
              }
              p span::before,
              p span::after {
                display: block;
              }
            }
            @media (min-width: 30em) {
              p {
                font-size: 2em;
              }
            }
            @media (min-width: 40em) {
              p {
                font-size: 3.8em;
              }
            }
            @media (min-width: 60em) {
              p {
                font-size: 5.6em;
              }
            }
          }

          .text-about {
            p {
              color:white;
              max-width: 610px;
              margin: 10px 20px;
              font-size: 1vw;
              letter-spacing: 2px;
            }
          }

          .return-btn {
            align-self: flex-start;

            a {
              text-decoration: none;
            }

            button {
              margin: 30px 0;
              width: 12vw;
              height: 50px;
              cursor: pointer;
              transition: all 0.5s;
              border: none;
              letter-spacing: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .skills-about {
            .Iam {
              font: normal 1.5vw/40px 'Nunito Sans', sans-serif;
              color: #999;
            }
            .Iam p {
              height: 40px;
              float: left;
              margin-right: 0.3em;
            }
            .Iam b {
              float: left;
              overflow: hidden;
              position: relative;
              height: 40px;
              top: 30px;
            }

            .Iam b:hover {
              overflow: visible;
            }

            .Iam .innerIam {
              display: inline-block;
              color: #e74c3c;
              position: relative;
              white-space: nowrap;
              top: 0;
              left: 0;

              /*animation*/
              -webkit-animation: move 5s;
              -moz-animation: move 5s;
              -o-animation: move 5s;
              animation: move 8s;
              /*animation-iteration-count*/
              -webkit-animation-iteration-count: infinite;
              -moz-animation-iteration-count: infinite;
              -o-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
              /*animation-delay*/
              -webkit-animation-delay: 2s;
              -moz-animation-delay: 2s;
              -o-animation-delay: 2s;
              animation-delay: 2s;
            }
            @keyframes move {
              0% {
                top: 0;
              }
              20% {
                top: -40px;
              }
              40% {
                top: -80px;
              }
              60% {
                top: -120px;
              }
              80% {
                top: -160px;
              }
            }

            @-webkit-keyframes move {
              0% {
                top: 0;
              }
              20% {
                top: -40px;
              }
              40% {
                top: -80px;
              }
              60% {
                top: -120px;
              }
              80% {
                top: -160px;
              }
            }
            @-moz-keyframes move {
              0% {
                top: 0;
              }
              20% {
                top: -40px;
              }
              40% {
                top: -80px;
              }
              60% {
                top: -120px;
              }
              80% {
                top: -160px;
              }
            }
            @-o-keyframes move {
              0% {
                top: 0;
              }
              20% {
                top: -40px;
              }
              40% {
                top: -80px;
              }
              60% {
                top: -120px;
              }
              80% {
                top: -160px;
              }
            }
            @keyframes move {
              0% {
                top: 0;
              }
              20% {
                top: -40px;
              }
              40% {
                top: -80px;
              }
              60% {
                top: -120px;
              }
              80% {
                top: -160px;
              }
            }

            span {
              color: white;
              font-weight: 400;
            }
          }
        }
      }

    }

  }

}

////////////////////////////// ADDITIONALS ///////////////////////

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}

// Box-Shadow //

.shadow {
  position: relative;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 0 50px rgba(0, 0, 0, 0.2) inset;
}

.shadow:before, .shadow:after {
  content: "";
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-border-radius: 0 / 10px;
  border-radius: 0 / 10px;
}

.shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

//.main-button {
//  position: absolute;
//  width: 90px;
//  height: 90px;
//  border-radius: 100%;
//  background-color: tomato;
//  cursor: pointer;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  color: #ffffff;
//  font-weight: lighter;
//  border: 1px solid rgba(0, 0, 0, 0.1);
//}
//
//.child-button {
//  position: absolute;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 50px;
//  height: 50px;
//  border-radius: 100%;
//  background-color: white;
//  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
//  color: #8898A5;
//}
//
